# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.venv/


# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Logs
*.log
*.out
*.err

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
coverage/

# Django stuff:
*.pot
*.pyc
*.pyo
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm/VSCode IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temporary files
*.swp
*.swo
*.bak
*.tmp

# Database
*.sqlite3

# MacOS-specific files
.DS_Store
